body{
    background-image: linear-gradient(120deg, white, gray);
}

header, p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

form{
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-button{
    background-color: rgb(130, 245, 130);
}

button{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}

label, input{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}

input{
    background: white;
    border-style: none;
}